
/*this is the nav1*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-family: 'Orbitron', monospace;
    font-size: 35px;
    font-weight: 800;}

/* Navigation bar */
nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8vw;
    background: linear-gradient(to right, #001f3f, #005e99);
    box-shadow: 2px 2px 10px #011627;
    position: fixed;
    width: 100%;
    z-index: 999;
    color: white;
    
    
}



label.logo {
   
    color: #ffffff;
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

 img {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

nav img {
    width: 45px;
    height: 45px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 10px #0b62b9;
    border-radius: 50%;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    transform: scale(0.8);
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    transition: 0.3s ease;
    border-radius: 10px;
}


nav ul li a:hover {
    color: #001f3f;
}


.checkbtn {
    
    font-size: 30px;
    color: #ffffff;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    
    label.logo {
       
        width: auto;
        height: 95%;
        margin: 0;
        padding: 0;
        font-size: 35px;
        padding: auto;
    }

    .logo img {
       
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .checkbtn {
        display: block;
    }

    nav ul {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #011627;
        top: 0;
        left: -100%;
        text-align: center;
        transition: all 0.5s ease;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

