
.home-title {
    height: 60vh;
    align-content: center;
    text-align: center;
    padding: 20px;
    background: #f9f9f9;
}


    .home-title button {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s ease;
        box-shadow: 2px 2px 10px #011627;
    }

   
    .home-title  p{
margin-top: 20px;
font-size: 18px;
font-weight: 500;
    }



    .plan-container {
        background-color: #222;
        color: #fff;
        padding: 30px;
        margin: 20px auto;
        max-width: 800px;
        border-radius: 10px;

    }

    .plan-header-container{

        display: flex;
        flex-direction: row;
        width: 100%; 
    }


    .plan-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .plan-header-tittle{
        width: 100%;
        height: 100%;
        padding-top: 17px;
    }


    .plan-header-tittle p{
font-size: 18px;
font-weight: 600;
    }
    
     
    .plans-container  img {
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    

    .premium-header {
        width: 100%;
        justify-items: center;

        h1{
margin-top: 50px;
        }
    }





    .maintenance-container{
width: 50%;
align-content: center;
}

    .maintenance{
width: 100%;
    }

    .free-hosting {
        width: 100%;
        text-align: center;
        color: #18992b;
        font-size: 1rem;
        font-weight: 800;
        margin: 0;
        padding: 0;
    }


    .choice{
        width: 60%;
        text-align: center;
        font-size: 1rem;  
        font-weight: 500;
        text-decoration: none;
        padding: 2px 2px;
        background-color: #ffffff;
        color:  #000000;
        margin: 10px auto;
        border-radius: 18px;
        border: 3px solid rgba(6, 18, 113, 0.543);
        font-weight: 800;
    }

    .choice:hover{
        background-color:  #007bff;
        color:  #ffffff;
        cursor: pointer;
    }


    


 .additional-benefits {
    width: fit-content;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin: auto;
    }
    .features {
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-top: 70px;
    }
   

    .features ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        justify-items: center;
        font-size: 16px;
        margin-bottom: 10px;
        list-style: none;
        
    }

    
    .features li {
    display: block; /* Or inline-block if needed */
    width: 365px; /* Set a width */
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Same effect as word-wrap */
    text-align: center;

    }

    .addtional-section{
        margin-top: 20px;
        text-align: left;

    }

    .addtional-section ul {
        list-style-type: none;
        padding: 0 20px;
        margin-top: 2rem;
    }
    
    .core-section {
        margin-top: 20px;
        text-align: left;
    }
    .core-section ul {
        list-style-type: none;
        padding: 0 20px;
        margin-top: 2rem;
    }

    .compere {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .compere button{
        width: fit-content;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        padding: 4px 8px;
        font-family: 'Orbitron', monospace;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin: auto;
        transition: ease-in 0.2s;
    }

    .compere button:hover{

        background-color: #000000;
        color: rgb(255, 255, 255);
    }


